# =========================
# Node.js
# =========================
node_modules/
.env

# =========================
# .NET 8 (C#)
# =========================
bin/
obj/
.vs/
*.user
*.suo
appsettings.Development.json

# =========================
# Java (Spring Boot)
# =========================
target/
*.class
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
!services/service-drops/.mvn/
!services/service-drops/.mvn/wrapper/
!services/service-drops/.mvn/wrapper/maven-wrapper.properties

# =========================
# IDEs y SO
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Spectrum App - Data & Cache
# =========================
**/games_snapshot.json
