# =========================
# Node.js
# =========================
node_modules/
.env

# =========================
# .NET 8 (C#)
# =========================
bin/
obj/
.vs/
*.user
*.suo
appsettings.Development.json

# =========================
# Java (Spring Boot)
# =========================
target/
*.class
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# =========================
# IDEs y SO
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db